variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  npm_config_cache: .npm

stages:
  - build
  - deploy

build:
  stage: build
  image: node:20-alpine
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
      - .next/cache/
  script:
    - npm ci --cache .npm --prefer-offline
    - npm run build

docker-deploy:
  stage: deploy
  image: docker:24.0.7
  services:
    - name: docker:24.0.7-dind
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - apk add --no-cache git
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker pull "$CI_REGISTRY_IMAGE:cache" || true
    - BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")"
    - BUILD_VERSION="$(git describe --tags --always)"
    - docker build --cache-from "$CI_REGISTRY_IMAGE:cache" --build-arg BUILD_DATE="$BUILD_DATE" --build-arg BUILD_VERSION="$BUILD_VERSION" --build-arg COMMIT_SHA="$CI_COMMIT_SHA" -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" -t "$CI_REGISTRY_IMAGE:cache" -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    - docker push "$CI_REGISTRY_IMAGE:cache"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
